@import url('../../index.css');

.card-prato-contet{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 20px 5px 20px 5px;
    
    position: relative;
}

.card-prato-contet img {
    width: 200px;
    height: 202px;
    position: absolute;
    object-fit: cover;
    top: -100px;
   align-self: center;
}
/* .card-prato-container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.card-prato-descricao{
    margin-top: 100px;
    padding: 30px 15px  ;
    text-align: center;

}
.card-prato-descricao h3{
    font-size: var(--font-size-h3);
    font-weight: bold;
    font-family: var( --font-family-title);
   
    width: 174px;
    text-align: center;
    margin: 0 auto;
}
.card-prato-descricao p{
    font-size: var(--font-size-body);
     font-family: var( --font-family-body);
     color: var(--color-gray);
     margin-top: 16px;
}