@import url('../../../index.css');

.pratos-destaque{
  background-color:#ea6f274a;
  padding: 60px 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pratos-destaque h2{
  font-size: var(--font-size-h2);
  font-family: var(--font-family-title);
  color: var(--color-dark);
  text-align: center;
  margin-bottom: 120px;
}
.pratos-destaque h2 span{
  color: var(--color-orange);
}
.pratos-destaque-container{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px 0px;
}