@import url('../../index.css');

.comentario-container{
    width: 400px;
    height: 195px;
    border-radius: 40px 8px ;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
     padding: 25px 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.comentario-container p{
    font-size: var( --font-size-body);
    font-family: var(--font-family-body);
}
.comentario-content{
    display: flex;
    justify-content: start;
    gap: 15px;
}
.pessoa-comentario{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pessoa-comentario h3{
    font-size: var(--font-size-h4);
    font-family: var(--font-family-title);
    font-weight: bold;
}
.pessoa-comentario h3 span{
    color: var(--color-orange);
}
.estrelinhas{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5px;
}