@import url('../../../index.css');

.mestre{
    display: flex;
    justify-content: center;
    gap: 60px;
  
    margin: 60px 218px;
    
}
.img-mestre{
    width: 514px;
    height: 669px;
    border-radius: 25px;
}
.mestre-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 115.5px 0px;
}
.mestre-content h3{
    font-family: var(--font-family-title);
    font-size: var(--font-size-h2);
    width: 490px;
}
.mestre-content h3 span{
    color: var(--color-orange);
}
.mestre-content p{
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    color: var(--color-gray);
    width: 500px;
}
