@import url('../../../index.css');
.diferenciais{
    background-color:#ea6f274a;

   
}
.diferencias-container{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 60px 50px 60px 50px;
}

.diferenciais h2{
    font-size: var(--font-size-h2);
    font-family: var(--font-family-title);
    text-transform: capitalize;
    text-align: center;
    padding-top: 60px;
 
    

}
.diferenciais span{
    color: #EA6D27;
}